<link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="public/vistasPerfil/inventario/misproduc.css">
<form id="misprod">
	<div class="container-fluid">
		<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addP">Agregar Producto</button>

		<div class="table-responsive">
			<table class="table table-bordered" id="myTable">
				<thead>
					<tr class="table-success">
						<th scope="col">Código</th>
						<th scope="col">Nombre</th>
						<th scope="col">Descripción</th>
						<th scope="col">Tipo de Venta</th>
						<th scope="col">Stock</th>
						<th scope="col">Categoria</th>
						<th scope="col">imagen</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-secondary" v-for="dateProducts in myproductos">
						<th scope="row">
							{{dateProducts.codeProducto}}

						</th>

						<td>{{dateProducts.nombreProducto}}


						</td>
						<br>
						<td>{{dateProducts.descProducto}}


						</td>
						<td>
							<label v-if="dateProducts.Unidad===true">Unidad,</label>
							<label v-if="dateProducts.libra===true">Libra,</label>
							<label v-if="dateProducts.Arroba===true">Arroba,</label>
							<label v-if="dateProducts.Quintal===true">Quintal,</label>
							<label v-if="dateProducts.Caja===true">Caja,</label>
						</td>
						<td style="width: 30px;">
							{{dateProducts.existencias}}
						</td>
						<td>{{dateProducts.categoria}}
						</td>
						<td>
							<div class="d-flex justify-content-center">
								<img :src="dateProducts.imagen" width="50" height="50">
							</div>
						</td>
						<td>
							<div class="form-inline ">

								<button type="button" class="btn btn-primary    m-t-auto mb-auto ml-auto button"
									@click="editar(dateProducts)" data-toggle="modal" data-target="#modificar">
									<template id="icon">
										<i class="bx bx-edit"></i>
									</template>
								</button>
								&nbsp;
								<button type="button" class="btn btn-danger  m-t-auto mb-auto mr-auto button"
									@click="eliminarProducto(dateProducts.idProducto)">
									<template>
										<i class="bx bx-trash"></i>
									</template>
								</button>


							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<!-- Modal Modificar-->
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal fade" id="modificar" tabindex="-1" aria-labelledby="modificar" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bg-primary">
						<h5 class="modal-title" id="modificar">Modificación de Producto</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="container d-flex justify-content-center mb-3" style="width:80; height: 60;">
								<div class="card">
									<img :src="modificacion.imagen" width="100" height="90">
								</div>
							</div>
							<div class="form-group row m-auto">

								<label for="inputNumber" class="col-sm-2 col-form-label mr-auto">Codigo</label>
								<div class="col-sm-10">
									<input type="number" class="form-control w-75 mb-2"
										v-model="modificacion.codeProducto" />
								</div>
								<label for="inputnombre" class="col-sm-2 col-form-label mr-auto">Nombre</label>
								<div class="col-sm-10">
									<input type="text" class="form-control w-75 mb-2"
										v-model="modificacion.nombreProducto" />
								</div>
								<label for="inputdesc" class="col-sm-2 col-form-label mr-3">Descripción</label>
								<div class="col-sm-10">
									<textarea type="text" class="form-control w-75 mb-2"
										v-model="modificacion.descProducto">

									</textarea>
								</div>
								<div class="form-group container">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="unidad"
											v-model="modificacion.unidad">
										<label class="form-check-label" for="unidad">Unidad</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="libra"
											v-model="modificacion.libra">
										<label class="form-check-label" for="libra">Libra</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="arroba"
											v-model="modificacion.arroba">
										<label class="form-check-label" for="arroba">Arroba</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="quintal"
											v-model="modificacion.quintal">
										<label class="form-check-label" for="quintal">Quintal</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="Caja"
											v-model="modificacion.caja">
										<label class="form-check-label" for="Caja">Caja</label>
									</div>
								</div>
								<select class="custom-select" id="inputGroupSelect01" v-model="modificacion.categoria">
									<option selected>seleccione...</option>
									<option value="Verduras">Verduras</option>
									<option value="Frutos">Frutos</option>
									<option value="Legumbres">Legumbres</option>
								</select>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-danger button" data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary button" @click="confirmarMod">Confirmar</button>
					</div>
				</div>
			</div>
		</div>
	</div>







</form>
<!-- Modal Agregar -->

<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal fade" id="addP" tabindex="-1" aria-labelledby="addp" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bg-success">
						<h5 class="modal-title" id="addp">Agregar Producto</h5>
						<button type="button" class="close" @click="cerrar" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<form>
							<div class="container d-flex justify-content-center mb-3" style="width:80; height: 60;">
								<div class="card">
									<div class="card-body">
										<img :src="agregar.imagen" width="100%" height="90">
									</div>
									<div class="card-footer">
										<input @change="subirImagen" required name="archivo" type="file"
											class="form-control">

										<div class=" py-2" id="barra"></div>
									</div>

								</div>

							</div>
							<div class="form-group row m-auto">

								<label for="inputNumber" class="col-sm-2 col-form-label mr-auto">Codigo</label>
								<div class="col-sm-10">
									<input type="number" class="form-control w-75 mb-2"
										v-model="agregar.codeProducto" />
								</div>
								<label for="inputnombre" class="col-sm-2 col-form-label mr-auto">Nombre</label>
								<div class="col-sm-10">
									<input type="text" class="form-control w-75 mb-2"
										v-model="agregar.nombreProducto" />
								</div>
								<label for="inputnombre" class="col-sm-2 col-form-label mr-auto">Stock</label>
								<div class="col-sm-10">
									<input type="number" class="form-control w-75 mb-2" v-model="agregar.existencias" />
								</div>
								<label for="inputdesc" class="col-sm-12 col-form-label mr-3">Descripción</label>
								<div class="col-sm-12">
									<textarea type="text" class="form-control w-75 mb-2"
										v-model="agregar.descProducto"></textarea>
								</div>
								<label for="inputNumber" class="col-sm-2 col-form-label mr-auto">Fecha</label>
								<div class="col-sm-10">
									<input type="date" class="form-control w-75 mb-2" v-model="agregar.fechaSubida" />
								</div>
								<div class="form-group container">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="unidad"
											v-model="agregar.unidad">
										<label class="form-check-label" for="unidad">Unidad</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="libra"
											v-model="agregar.libra">
										<label class="form-check-label" for="libra">Libra</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="arroba"
											v-model="agregar.arroba">
										<label class="form-check-label" for="arroba">Arroba</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="quintal"
											v-model="agregar.quintal">
										<label class="form-check-label" for="quintal">Quintal</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="Caja"
											v-model="agregar.caja">
										<label class="form-check-label" for="Caja">Caja</label>
									</div>
								</div>
								<label for="inputNumber" class="col-sm-2 col-form-label mr-auto">Precio
									Unidad</label>
								<div class="col-sm-10">
									<input type="number" class="form-control w-75 mb-2" v-model="agregar.pU" />
								</div>
								<label for="inputNumber" class="col-sm-2 col-form-label mr-auto">Precio
									Libra</label>
								<div class="col-sm-10">
									<input type="number" class="form-control w-75 mb-2" v-model="agregar.pL" />
								</div>
								<label for="inputNumber" class="col-sm-2 col-form-label mr-auto">Precio
									Arroba</label>
								<div class="col-sm-10">
									<input type="number" class="form-control w-75 mb-2" v-model="agregar.pA" />
								</div>
								<label for="inputNumber" class="col-sm-2 col-form-label mr-auto">Precio
									Quintal</label>
								<div class="col-sm-10">
									<input type="number" class="form-control w-75 mb-2" v-model="agregar.pQ" />
								</div>
								<label for="inputNumber" class="col-sm-2 col-form-label mr-auto">Precio Caja</label>
								<div class="col-sm-10">
									<input type="number" class="form-control w-75 mb-2" v-model="agregar.pC" />
								</div>
							</div>
							<select class="custom-select" id="inputGroupSelect01" v-model="agregar.categoria">
								<option selected>seleccione...</option>
								<option value="Verduras">Verduras</option>
								<option value="Frutos">Frutos</option>
								<option value="Legumbres">Legumbres</option>
							</select>
						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-danger button" @click="limpieza"
							data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-success button" @click="Guardar">Confirmar</button>
					</div>
				</div>
			</div>
		</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>

<script src="public/vistasPerfil/inventario/misproductos.js"></script>