<!-- css of vuesax -->
<link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="newAccount/css/stilos.css">
<div class="container mt-3 " id="contenedor">
    <form class="card p-3 border-0" id="formCreate" @submit.prevent=" createUser" id="form">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputType">Tipo de Vendedor</label>
                <select required id="input" class="form-control" v-model="typeSeller">
                    <option selected value="">selecciona...</option>
                    <option value="cooperativa">Cooperativa</option>
                    <option value="productor">Productor Pequeño</option>
                </select>
            </div>
            <div class="col-md-6" v-if="typeSeller==='cooperativa'">
                <label for="ipname">Nombre Cooperativa</label>
                <input type="text" class="form-control" id="ipname" v-model="account.name">
            </div>
          
            <div class="form-group  col-md-6">
                <label>Correo</label>
                <v-select :options="options" v-model="selectU"></v-select>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" id="crear">Crear</button>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="alerta"></div>
                    </div>
                </div>
            </div>
        </div>
</div>

</form>
</div>
<script src="newAccount/js/newAccount.js"></script>
