<link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/vistasPerfil/gestionFacturas/css/style.css">
<div>
    <div class="container w-100">
        <div class="table-responsive">
            <table class="table table-striped table-secondary " id="factura">
                <caption class="bg-light">
                    <div class="d-flex justify-content-between">
                        <strong>
                            Lista de Facturas: Total: {{datos.length}}
                        </strong>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item" v-if="page!=1" @click="page--">
                                    <a class="page-link " type="button">&laquo; Anterior</a>
                                </li>

                                <li class="page-item" :class="{'active': page==pageNumber}" v-for="pageNumber in  pages"
                                    :key="pageNumber" @click="page=pageNumber">
                                    <a class="page-link" type="button">{{pageNumber}}</a>
                                </li>



                                <li class="page-item " v-if="page< pages.length" @click="page++">
                                    <a class="page-link  " type="button">Siguiente &raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </caption>
                <thead class="thead-dark">
                    <tr>
                        <th>ID P.</th>
                        <th>Fecha</th>
                        <th>Fecha L.</th>
                        <th>Descripción</th>
                        <th>Facturado A</th>
                        <th>T. Compra</th>
                        <th>cantidad</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in datos">
                        <th scope="row">{{data.idPedido}}</th>
                        <td>{{data.fecha}}</td>
                        <td>{{data.fVence}}</td>
                        <td>{{data.descripcion}}</td>
                        <td>{{OwnerOfOrder}}</td>
                        <td>{{data.tCompra}}</td>
                        <td>{{data.cant}}</td>
                        <td>{{data.total}}</td>
                        <td v-if="data.estado=='Verificada'">
                            <div id="badge"><strong class="badge badge-success w-100">{{data.estado}}</strong></div>
                        </td>
                        <td v-if="data.estado=='Anulada'">
                            <div id="badge"><strong class="badge badge-danger w-100">{{data.estado}}</strong></div>
                        </td>
                        <td v-if="data.estado==null||data.estado==''">
                            <div id="badge"><strong class="badge badge-warning w-100">pendiente</strong></div>
                        </td>
                        <td>
                            <div class="dropup">
                                <button class="btn  dropdown-toggle" id="options" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item item" @click.prevent="verificar(datos.idFacura)" href="#">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        &nbsp;Verificar
                                    </a>
                                    <a class="dropdown-item item" href="#" @click.prevent="anular(datos.idFacura)">
                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        &nbsp;Anular
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="public/js/popper.min.js"></script>
<script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
<script src="public/vistasPerfil/gestionFacturas/js/gestionF.js"></script>
