

h1.h1s{
	display: flex;
	justify-content: center;
	color: black;
}
hr.hrs{
	background-color: black;
}
label{
	color: black;
}
button.btn{
	color: black;
}

div.tiempo  {
	display: flex;
	justify-content: center;
}

div.botones{
	display: flex;
	justify-content: center;
	
}
div.bg{
	background: #5fb677;
}
.close {
    float: right;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}