<link rel="stylesheet" href="public/css/estilos.css">
<div class="container mt-3 mb-3" >

  </div>
  <div class="container" id="legum">
	<div class="input-group input-group-lg">
		<input type="text" class="form-control" v-model="valor"  @keyup="autobusquda">
	 <div class="input-group-prepend"  v-on:click="buscarL">
		  <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-search"></i></span>
		</div>
	</div>
	<div class="container bg-light forma">
		<label for=""> Ordenar Por Precio:	<button @click="descL" class=" btn btn-outline-dark"><img src="public/img/arrow-down.svg" alt="" width="32" height="32" title="Precio Descendiente"> </button> <button @click="ascL" class="btn btn-outline-dark"><img src="public/img/arrow-up.svg" alt="" width="32" height="32" title="Precio Ascendente"></button> </label>
	</div>
	<div class="row py-2" >
		<div class="col-sm-4" v-for="le in legumbressss"  >
			<div class="targeta " style="height: 400;">
				<img v-bind:src="le.imagen"	>
				<div class="cuerpotargeta" >
				 <a class="hole text-break" href="#" @click="verProd(le)" ><h4> {{le.nombre_producto}}</h4></a>
				  <a href="#" class="info"v-if=" le.nombrecooperativa==''" ><span>{{le.nombreu}}</span></a>
				  <a href="#" class="info" v-else > {{le.nombrecooperativa}}</a>
				 <div class="row px-3">
				   <div class="col-12 "> 
					 <p class="card-text float-left  ">
					    ${{le.precio_venta}}
		
					 
					 </p>
					 <i class="far fa-heart fav float-right"></i>
				  
				   </div>
				 </div>
				</div>
			  </div>
		</div>
	</div>
</div>

<script src="public/vistas/legumbres/legumbress.js"></script>