*{
	font-family: 'Balsamiq Sans', cursive;
}

h3{
	font-weight: 900;
}

.list-group .list-group-item{
	background-color: rgba(202, 201, 201, 0.966);
}
.sidea{

color: black;
}
.sidea:hover{
	text-decoration: none;
	color: black;
	
}
.items:hover{
	background-color: #5fb677;

	border-left:5px solid teal;
	transition: border 0.5s;
}


