.form-control{
    border: none;
    outline: none;
    border-bottom: 1px solid blue;
    transition: ease-in-out 0.2s;
}
.form-control:focus{
     border: none;
     outline: none;
     box-shadow: none;
     border-bottom: 2px solid blue;

     
}
input:focus{
 border: none;
 outline: none;
 box-shadow: none;
}
#contenedor{
    border-radius: 0;
      box-shadow: 5px 10px 10px  #158a3cb7;
}


.btn-promary:hover{
    position: static;
    box-shadow: none
}