
*{
    font-family: 'Balsamiq Sans', cursive;
}
body{
    background-color: #fff;
 background-size: 100% 100%;


}
body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: block;  /* Ocultar scroll */
  }
  body::-webkit-scrollbar {
    width: 7px;
    background: rgb(206, 206, 206);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 3px;
   
  }
  body::-webkit-scrollbar-track {
    background: #e9e9e9;
    border-radius: 3px;
  }
  

#hola{
    background: #5fb677;
    
}

.navbar-ligth:hover{
    color: black;
}

ul.uls li.lis a.as{
    color: black;
    display: block;
 
    font-family: 'Balsamiq Sans', cursive;
}

ul.uls li.lis a.as::before{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: white;
    bottom:0;
    transition: all .3s;
    font-family: 'Balsamiq Sans', cursive;

}

ul.uls li.lis a.as:hover::before{
   
    width: 100%;
   
}
li.lis a.as{
    margin: 1px;
   
}



.dropdown-menu{
    width: 100%;
    text-align: center;
}

.container-sm{
    padding: 2%;
    background-color: rgb(219, 219, 219);
    
}
.fav{
    color: #000000;
}
.fav:hover{
    color: red;
}

/* ***************** */
/* targetas */
.targeta{
    width: 90%;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
    cursor: default;
    transition: all 400ms ease;
   
    font-family: 'Balsamiq Sans', cursive;
}
.targeta:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4);
    transform: translateY(-2%);

}

.targeta img{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;

}

.targeta .cuerpotargeta {
    padding: 2px 10px;
   
    text-align: center;
     font-family: 'Balsamiq Sans', cursive;
      
    }

.targeta .cuerpotargeta .card-text{
    line-height: 1.5;
    color: black;
    font-family: 'Balsamiq Sans', cursive;
    
}

.targeta .cuerpotargeta .hole  {
    color: black;  
    margin-top: 5px;
}
.targeta .cuerpotargeta .hole:hover{
    color: #5fb677;
    cursor: pointer;
}



.info{
    text-decoration: none;
    color: black;
    cursor: default;
    font-size: 10px;
    font-family: 'Balsamiq Sans', cursive;
    
}
.info:hover{
    text-decoration: none;
    color: black;
    font-family: 'Balsamiq Sans', cursive;
}

.carousel-control-prev {
    height: 25%;
     width: 3%;
      top: 50%;
      left: 10px;
     
}
.carousel-control-next{
    height: 25%;
     width: 3%;
      top: 50%;
      right: 10px;
   
}
.far:hover{
    cursor: pointer;

}
.input-group-text {
    background-color:  #5fb677;
}
.form-control{
    border-color:  #5fb677;
   
    outline: 0px solid   #5fb677;
;
   
}
.form-control:focus{
    border-color:  #5fb677;
    box-shadow: 0 1px 1px rgba(255, 0, 0, 0)inset, 0 0 8px rgba(255, 0, 0, 0);
    outline: 1px none;
   
}
.input-group-append{
    cursor: pointer;
}
.input-group-prepend:hover{
cursor: pointer;
}
.forma{
    height: 50px;
}

.btn-outline-dark:hover{
    background-color:#5fb677 ;
    color: white;
    border-color:#5fb677 ;
  
}
.btn-outline-dark{
    border-color:#5fb677 ;
  
  
}


@media(max-width:992px){
   ul.uls li.lis  a.as::before{
      display: none;
  
  }
  .nav-link:hover{
    color: #000000;
  }
  
   li.lis a.as:hover::before{
   display: none;
  }
 li.lis a.as:hover{
    display: block;
    background-color: rgba(255, 255, 255, 0.432);
  }
  
  }