body{
    background-image:url("../img/s.jpg");
 background-size: 100% 100%;
 background-attachment: fixed;

}


#nav{
  display: block;

    background: #5fb677;
}

 
 .container{
   
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 6px;
}

ul.uls li.lis a.as{
    color: black;
    display: block;
 
   
}

ul.uls li.lis a.as::before{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: white;
    bottom:0;
    transition: all .3s;

}

ul.uls li.lis a.as:hover::before{
   
    width: 100%;
   
  
}
li.lis a.as{
    margin: 1px;
}



img.imagen{
    width: 70px;
    height: 70px;
    padding-right: 6px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #6F966B;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
   
   
}
.card-title {
    color: white;
    margin-bottom: 0.75rem;
}
.text-muted {
    color: white !important;
}


.card:hover{
    box-shadow: 7px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.container-sm {
    border-radius: 5px;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #6F966B;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
}

.dropdown-menu{
    width: 100%;
    text-align: center;
}