


.dropdown :hover>.dropdown-menu{
  display: block;
  margin: 0px;
  transition:all 0.3s;

}




.navbars{
	background: #5fb677;
}











.uls .lis .text{
    color: black;
   
}




a.btn-lg{
  background: #006780;
  color: white;
}
a.btn-lg:hover{
  background: #006780;
  color: white;
}



.uls.activa lis.activa .text.activa:hover{
   border-top:3px solid teal;
   transition: border 0.4s;
}
.lis .text{
    margin: 1px;
}

 .active{
  border-top:3px solid teal;
}






@media (max-width: 700px) {
  .uls.activa .activa .text.activa:hover{
    border-top:none;
    border-left: 3px solid teal;
 }
 .active{
  border-top:none;
  border-left: 3px solid teal;
}
}


