

.navbars{
	background: #5fb677;
}

ul.uls li.lis a.text{
    color: black;
   
}






img.image{
  width: 70px;
  height: 70px;
}

ul.uls.activa li.activa a.text.activa:hover{
   border-top:3px solid teal;
   transition: border 0.4s;
}
li.lis a.text{
    margin: 1px;
}

 .active{
  border-top:3px solid teal;
}






@media (max-width: 700px) {
  ul.uls.activa li.activa a.text.activa:hover{
    border-top:none;
    border-left: 3px solid teal;
 }
 .active{
  border-top:none;
  border-left: 3px solid teal;
}
}


