body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.info{
  color: white;
}

button:focus {
  border: none;
  outline: none;
}

.navbars {
  margin: 0;
  width: 100%;
  background: #5fb677;
}

a.btn-lg {
  background: #00668000;
  color: white;
  position: static;
}

a.btn-lg:hover {
  position: static;
  transform: translate(0px, 0px);
  color: #ffffff;
}





.activa::before {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: white;
  bottom: 0;
  transition: all 0.3s;
}



.activa:hover::before {
  width: 100%;
}



.fixed-top {
  background-color: #5fb678ef;
}

@media (max-width: 992px) {
  .activa::before {
    display: none;
  }

 

  .activa:hover::before {
    display: none;
  }

  .activa:hover {
    display: block;
    background-color: rgba(255, 255, 255, 0.432);
  }
}