<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.css">
</head>
<body>
	<div class="container" id="vegetales">
		<div class="row py-2" >
			<div class="col-sm-4" v-for="clay in verdes"  >
				<div class="targeta " style="height: 400;">
					<img v-bind:src="clay.imagen"	>
					<div class="cuerpotargeta" >
					 <a class="hole" href="#" @click="verProd(clay)" ><h4> {{clay.nombre_producto}}</h4></a>
					  <a href="#" class="info"v-if=" clay.nombrecooperativa==''" ><span>Vendedor/a: {{clay.nombreu}}</span></a>
					  <a href="#" class="info" v-else >Vendedor/a: {{clay.nombrecooperativa}}</a>
					 <div class="row ">
					   <div class="col-12 "> 
						 <p class="card-text float-left  ">
						   precio:   ${{clay.precio_venta}}
			
						 
						 </p>
						 <i class="far fa-heart fav float-right"></i>
					  
					   </div>
					 </div>
					</div>
				  </div>
			</div>
		</div>
	</div>
	<script src="public/js/jquery-3.5.js"></script>
	<script src="public/js/jquery-ui.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

  <script src="public/vistas/verduras/verdura.js"></script>
</body>
</html>