*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    font-family: 'Balsamiq Sans', cursive;
   
}

h1{
    display: flex;
    justify-content: center;
}
p{
    color: #000000;
}

a.text{
   padding-top: 3px;
    color: black;
    text-decoration: none;
   
}

a.text:hover{
    color: #ffffff;
}
 .needs-validation{
    background: #5fb677;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 100px;
    padding-bottom: 30px;
    border-radius: 5px;
    
 }

.container{
    background: #5fb677;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 100px;
    margin-bottom: 100px;
   
    border-radius: 5px;
    
}
.bi-info-circle{
    color: #ffffff;
   
}
.bi-info-circle:hover{
    color: #000000;
    cursor: pointer;
}
.enlace2{
    font-size: 12px;
}
.enlace1{
    font-size: 12px;
}
#ter{
        color: black;
        font-size: 12px;
}

#ter:hover{
    color: white;
    font-size: 12px;
}