* {
 font-family: "Roboto", sans-serif;
}

.badge {
  z-index: 1;
}

.terni {
  color: white;
}
.bordes {
  border-radius: 0;
}

.page-item>.page-link:hover{
  background-color: rgb(7, 117, 243);
  color: #ffffff;
 
}
