* {
font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
button:focus {
  border: none;
  outline: none;
}

/* contenedor */
.contenedor {
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  margin: auto;
  padding: 1px 1px;
  margin-top: 100px;

  padding-bottom: 1px;
  display: flex;
  box-shadow: 7px 6px 8px 0px rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19), 0px 6px 20px 0 rgba(0, 0, 0, 0.19),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {
  height: 100%;
  width: 300px;
  background-color: rgb(230, 230, 230);
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.377);
  overflow-x: hidden;
  padding-top: 10px;
}

.sidebar > .header-sidebar {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.list-msg {
  height: 259px;
  overflow-y: scroll;
}
.list-msg::-webkit-scrollbar {
  width: 7px;
  background: rgba(206, 206, 206, 0.192);
  border-radius: 3px;
  display: none;
}

.list-msg::-webkit-scrollbar-thumb {
  background: rgba(148, 148, 147, 0.151);
  border-radius: 3px;
  display: none;
}

.lista-items {
  cursor: pointer;
}

.contenedor-msg {
  width: 500px;

  background-color: rgb(218, 218, 218);
}
.header-msg {
  margin-left: 9px;
  height: 47px;
  padding-top: 10px;
}

.header-msg > .titulomsg {
  display: flex;
  justify-content: start;
}
.contener-msgs {
  height: 200px;
  overflow-y: scroll;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.contener-msgs::-webkit-scrollbar {
  width: 7px;
  background: rgba(206, 206, 206, 0.116);
  border-radius: 3px;
}

.contener-msgs::-webkit-scrollbar-thumb {
  background: rgba(148, 148, 147, 0.199);
  border-radius: 3px;
}

.listamsgs {
  list-style-type: none;
  text-decoration: none;
}
.listamsgs-item {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(190, 190, 190);
  font-size: 14px;
  font-style: oblique;
}

.listamsgs-iteml {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(73, 211, 38, 0.925);
  font-size: 14px;
  font-style: oblique;
}

.pointer {
  cursor: pointer;
}
