<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
		<link rel="stylesheet" href="public/vistasPerfil/configCuenta/configcuenta.css">
		<title></title>
	</head>
	
	<style>
		#cuenta {
			box-shadow: 6px 6px 1px #aaaaaa;
		}

	</style>

	<body>
		<form method="POST" id="cuenta" class=" p-2 container-fluid colores mb-3 p-2" style="border-radius: 0px;">
			<div class="form-row wow fadeIn">
				<div class=" col-md-12 mb-3">
					<div class=" d-flex justify-content-center w-100">
						<div class="">
							<img v-if="datosPerfil.imagen" :src="datosPerfil.imagen" height="200px" width="230"
								height="210" class=" rounded " alt="imagen de perfil">
							<img class="w-100" v-else height="200px" src="public/img/mle.jpg" width="230" height="200"
								class=" rounded-circle " alt="">
							<label class="btn btn-primary btn-block mt-1">
								Editar
								<input type="file" @change="obtenerImagen" hidden>
							</label>
							<div id="barra"></div>
						</div>

					</div>

				</div>
				<div class="col-md-12 mb-3">
					<div class="form-group mb-3">
						<span>Nombre de Usuario</span>
						<input type="text" class="form-control" aria-label="Sizing example input"
							aria-describedby="inputGroup-sizing-default" disabled v-model="datosPerfil.nombreUsuario">
					</div>
				</div>
				<div class="col-md-12 mb-3">
					<div class="form-group " v-if="datosPerfil.nombreCooperativa!=''">
						<label for="nombreC">Nombre Cooperativa</label>
						<input type="text" v-model="datosPerfil.nombreCooperativa" disabled
							class="bg-white form-control" id="nombrec">
					</div>
					<div class="form-group" v-else="datosPerfil.nombreCooperativa==''"></div>
				</div>
				<div class="col-md-12 mt-3">
					<div class="input-group mb-3">
						<input type="text" class="form-control" aria-label="Sizing example input"
							aria-describedby="inputGroup-sizing-default" disabled v-model="datosPerfil.correo">
						<div class="input-group-prepend">
							<button class="btn btn-primary" @click.prevent="resetPass(datosPerfil.correo)">restablecer
								contraseña</button>
						</div>
					</div>
				</div>

				<div class="col-md-12 mt-1 mb-2">
					<div class="form-group mb-3">
						<span>Fecha Registro</span>
						<input type="date" class="form-control" aria-label="Sizing example input"
							aria-describedby="inputGroup-sizing-default" disabled v-model="datosPerfil.fechaRegistro">
					</div>
				</div>
			</div>
		</form>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
		<script src="public/vistasPerfil/configCuenta/cuenta.js"></script>

		<script>
			var wow = new WOW(
				{
					boxClass: 'wow',      // animated element css class (default is wow)
					animateClass: 'animated', // animation css class (default is animated)
					offset: 0,          // distance to the element when triggering the animation (default is 0)
				}
			);
			wow.init();
		</script>
	</body>

</html>
