
	<link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.css">
	<link rel="stylesheet" href="public/css/estilos.css">
	<link rel="stylesheet" href="public/vistas/frutos/frutos.css">
	<div class="container mt-3 mb-3">
		<div class="input-group ">
		  <input type="text" class="form-control " >
		  <div class="input-group-append">
			<span class="input-group-text "><i class="fas fa-search"></i></span>
		  </div>
		</div>
	  </div>
	<div class="container" id="frutas">
		<div class="row py-2" >
			<div class="col-sm-4" v-for="fruto in fruta"  >
				<div class="targeta " style="height: 400;">
					<img v-bind:src="fruto.imagen"	>
					<div class="cuerpotargeta" >
					 <a class="hole" href="#" @click="verProd(fruto)" ><h4> {{fruto.nombre_producto}}</h4></a>
					  <a href="#" class="info"v-if=" fruto.nombrecooperativa==''" ><span> {{fruto.nombreu}}</span></a>
					  <a href="#" class="info" v-else > {{fruto.nombrecooperativa}}</a>
					 <div class="card-footer">
						<div class="row ">
							<div class="col-12 mt-3"> 
							  <p class="card-text float-left  ">
								  ${{fruto.precio_venta}} 
							  </p>
							  <i class="far fa-heart fav float-right"></i>
						   
							</div>
						  </div>
					 </div>
					</div>
				  </div>
			</div>
		</div>
	</div>
	<script src="public/js/jquery-3.5.js"></script>
	<script src="public/js/jquery-ui.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	<script src="public/vistas/frutos/frutos.js"></script>
