*{
	font-family: 'Balsamiq Sans', cursive;
}
input[type="text"]:focus{
  position: static;
  transition: all 0,5s;
  box-shadow: none;
}
input[type="text"]::before{
  left: 0px;
}
.card-footer{
	border: none;
	background-color: #ffffff;
}
.input-group-text{
	cursor: pointer;

}
.form-check-input{
    display: none;
    color: gray;
}
.form-check-label{
    color: gray;
    font-size: 20px;
}

.form-check-input:checked~label{
    color: orange;
}
button:focus{
  border: none;
  outline: none;
}