<!-- css of vuesax -->
<link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="container-fluid mt-3" id="settings">
    <div class="form-row bg-white m-auto">
        <div class="col-md-12 d-flex justify-content-center mb-3">
            <div class="card" style="width: 18rem;">
                <img v-if="validateImage" :src="dataUser.imagen" class="card-img-top" alt="">
                <img v-else src="../img/avatars.png" class="card-img-top" alt="Imagen de Perfil" alt="">
                <div class="card-body">

                    <label class="btn btn-primary">
                        Modificar Imagen
                        <input type="file" @change="getImage" hidden>
                    </label>

                    <div id="barra"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-center mb-3">
            <div class="d-flex w-75 justify-content-md-between">
                <h6 class="mr-2">
                    {{dataUser.nombreUsuario}}
                </h6>
                <button class="btn btn-primary" data-toggle="collapse" href="#collapseName" role="button"
                    aria-expanded="false" aria-controls="collapseName" @click="passName">Modificar Nombre</button>

            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <div class="collapse" id="collapseName">
                <div class="form-inline ">
                    <input type="text" class="form-control mr-3" placeholder="nombre" v-model="name">
                    <button class="btn btn-primary" @click.prevent="saveName">
                        Guardar
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-center mb-3">
            <div class="form-row w-75 d-flex justify-content-lg-between">
                <div class="col-sm-6 ">
                    <h6 class="mr-2 float-sm-left">
                        {{dataUser.correo}}
                    </h6>
                </div>
                <div class="col-sm-6 ">
                    <button class="btn btn-primary float-sm-right" @click="sendPasswordReset(dataUser.correo)">
                        Restablecer Contraseña
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center mb-3">
            <div class="d-flex w-75 justify-content-md-between">
                <h6 class="mr-2"></h6>
                <button href="#ModalSoliVendedor" id="modalas" class="btn btn-primary" data-toggle="modal"
                    data-target="#nuevaSoliV" value="Nueva">Solicitar cuenta de vendedor</button>
            </div>
        </div>
    </div>
</div>


<script src="viewSettings/js/settings.js"></script>
<script src="viewSettings/js/solicitud.js"></script>


<!-- modal Solicitud dde vendedor -->
<div class="modal fade" id="nuevaSoliV" tabindex="-1" role="dialog" aria-labelledby="nuevaSoliV" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title justify-content-center">Solicitud de vendedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click='closeX'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="datosVendedor">
                    <div class="col-12 text-dark">
                        <div class="form-group">
                            <label for="desc">¿Quien eres?</label>
                            <select required="required" class="custom-select" v-model="dataSoliV.selectU"
                                id="inputSelectUsuario">
                                <option selected value="">Elige...</option>
                                <option value="Cooperativa">Cooperativa</option>
                                <option value="Productor pequeño">Productor pequeño</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 text-dark" v-if="dataSoliV.selectU==='Cooperativa'">
                        <div class="form-group">
                            <label for="name">Nombre cooperativa</label>
                            <input type="text" v-model="dataSoliV.nombreCoo" class="form-control"
                                required="required"></input>
                        </div>
                    </div>
                    <div class="col-12 text-dark" v-show="dataSoliV.selectU==='Productor pequeño'">
                        <div class="form-group">
                            <label for="name">Nombre Productor pequeño</label>
                            <input required="required" type="text" v-model="dataSoliV.nombreP" class="form-control"
                                required="required"></input>
                        </div>
                    </div>
                    <div class="col-12 text-dark">
                        <div class="form-group">
                            <label for="name">Correo</label>
                            <input required="required" type="email" v-model="dataSoliV.correo" class="form-control"
                                required="required"></input>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" @click="closebtn">Cancelar</button>
                <button type="button" v-on:click="almacenar" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</div>
