body {
font-family: "Roboto", sans-serif;
}
.invalid-feedback {
  color: red;
}
#ter {
  color: black;
  font-size: 12px;
}

#ter:hover {
  color: white;
}
.textoo {
  font-size: 12px;
}
.needs-validation{
 border-radius: 0%;
 box-shadow: 7px 7px 5px -1px rgba(58, 56, 56, 0.582);
}