
<form action="#" method="post" id="productoss">
	<link rel="stylesheet" href="public/vistasPerfil/historialCompras/historial.css">
	<ul class="list-group wow fadeIn" v-for="Mcompra in productos":key="Mcompra.idComprador">
			<li class="list-group-item bg-white"  >
				<div class="form-row">
					<div class="col-md-3 m-auto">
						<img :src="Mcompra.imagen" class="rounded" width="100%" height="50%">
					</div>
					<div class="col-md-8 mt-2">

						<h2 class="mb-3 font-weight-bold ml-3"> {{Mcompra.nombreProducto}}</h2>
						<p class="text-justify ml-3">{{Mcompra.descProducto}}</p>

						<div class="mt-5">
						<span class="text-black-50 ml-3" >${{Mcompra.precioVenta}}</span>
						<span class="text-black-50 ml-5" v-if="Mcompra.nombreCooperativa!=''" >{{Mcompra.nombreCooperativa}}</span>
						<span class="text-black-50 mr-auto" v-else >{{Mcompra.nombreU}}</span>
						<span class="ml-2 text-black-50">Compro:</span>
						<span class="badge badge-primary ml-1">{{Mcompra.formaCompra}}</span>
						</div>

					</div>

					<div class="col-md-1  mb-2 mt-3 ">
						<span>Cantidad:</span>
						<input type="text" class="form-control mb-3" disabled v-model="Mcompra.contador" style="width:70px">
					</div>
				</div>

				</div>
			</li>
		</ul>


</form>
<script src="public/vistasPerfil/historialCompras/hcompras.js"></script>
