body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
 
  z-index: 9;
}
div.contenedor{
  width: 100%;
  height: 180px;
  overflow-y: scroll;
}
.contenedor::-webkit-scrollbar{
  width:7px ;
background: grey;
}
.contenedor::-webkit-scrollbar-thumb{
background: greenyellow;
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.header{
  background-color: grey;
}
.list-group  > .list-group-item{
  border-radius:  0px 30px 30px 30px;
  -moz-border-radius:0px 0px 30px 30px;
  -webkit-border-radius: 0px 30px 30px 30px;
  
}


