#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
  }
  #nav{
    display: block;
      background: #5fb677;
  }

  ul.uls li.lis a.as{
    color: black;
    display: block;
 
   
}

  ul.uls li.lis a.as::before{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: white;
    bottom:0;
    transition: all .3s;

}

ul.uls li.lis a.as:hover::before{
   
    width: 100%;
   
  
}
li.lis a.as{
    margin: 1px;
}

  #form p {
	text-align: center;
  }
  
  #form label {
	font-size: 20px;
  }
  
  input[type="radio"] {
	display: none;
  }
  
  label {
	color: grey;
  }
  
  .clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
  color: orange;
  cursor: pointer;
  }
  
  input[type="radio"]:checked ~ label {
  color: orange;
  cursor: pointer;
  }

.btn{
  border-radius: 20px;
}

@media(min-width:767px){
  .container{
    width: 100%;
  }
  .container>.tamaño{
    width: 100%;
  }

 
}
