* {
  font-family: "Roboto", sans-serif;
}
p {
  color: white;
}
.formulario{
  overflow-x: auto;
}
.text-dark {
  font-size: 12px;
}
.card-footer {
  align-self: flex-end;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.815);
}
table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th  {
  border: 1px solid black;
}
.table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

#nave {
  background-color: #5fb677;
}
.lista {
  list-style-type: circle;
  color: white;
  margin-top: unset;
  text-justify: inter-word;
}
footer > img {
  display: flex;
  justify-content: center;
}

.col-sm .text-break {
  font-size: 14px;
  font-style: inherit;
  text-decoration: unset;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#hola {
  background: #5fb677;
}

.as {
  color: black;
}
.as:hover {
  color: black;
}
ul.uls li.lis a.as::before {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: white;
  bottom: 0;
  transition: all 0.3s;
}
.fondonav {
  background-color: #5fb677;
}

ul.uls li.lis a.as:hover::before {
  width: 100%;
}
li.lis a.as {
  margin: 1px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
  font-size: 20px;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.labeli:hover,
.labeli:hover ~ .labeli {
  color: orange;
  cursor: pointer;
}

.estrellas[type="radio"]:checked ~ .labeli {
  color: orange;
  cursor: pointer;
}

.subtitulo {
  color: white;
}

.contactar {
  color: black;
}
.contactar:hover {
  text-decoration: none;
  color: rgb(0, 255, 64);
}

.btn-outline-danger {
  border-radius: 0px;
}
.btn-outline-danger:hover {
  border-radius: 0px;
}
.modal-content>.modal-body{
  background-color: #ffffff;
}

.ancla:hover{
  cursor: pointer;
  color: rgb(0, 255, 64);

}

@media (max-width: 700px) {
  .btn {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .imges {
    width: 100%;
  }
}
